---
###
###
- name: Create a new primary partition with a size of 800MiB
  parted:
    device: /dev/sdb
    number: 1
    state: present
    part_end: 800MiB

- name: Create volume group
  lvg:
    vg: vg_database
    pvs: /dev/sdb1

- name: Create a logical volume of 512MiB with disk /dev/sdb
  lvol:
    vg: vg_database
    lv: lv_mysql
    size: 512

- name: Create a xfs filesystem on lv_mysql
  filesystem:
    fstype: xfs
    dev: /dev/vg_database/lv_mysql

- name: Create mount point
  file:
    path: /mnt/mysql_backups
    state: directory

- name: Mount and bind a volume
  mount:
    path: /mnt/mysql_backups
    src: /dev/vg_database/lv_mysql
    state: mounted
    fstype: xfs
